<div class="plc-file-list <%= 'plc-file-list--has-items' if files.any? %>">
  <% if files.any? %>
    <% files.each do |file_entry| %>
      <% file_doc = file_entry[:document] %>
      <% if file_doc %>
        <% file_row_classes = ["organizer-row", "file-row", "plc-file-row"] %>
        <% file_row_classes << "file-row--created" if flash[:created_file_id].to_i == file_doc.id %>
        <div class="<%= file_row_classes.join(' ') %>" tabindex="0" data-recent-docs-target="doc" data-doc-kind="file" data-file-name="<%= file_entry[:name] %>" data-delete-url="<%= document_path(file_doc) %>">
          <div class="row-left">
            <%= link_to(file_entry[:name].presence || "Untitled", document_path(file_doc), class: "file-link", data: { rename_target: "label" }) %>
          </div>
          <div class="row-right">
            <button
              type="button"
              class="row-pencil"
              aria-label="Edit file"
              data-action="click->rename#openModal"
              data-rename-url="<%= rename_document_path(file_doc) %>"
              data-delete-url="<%= document_path(file_doc) %>"
              data-current-name="<%= file_entry[:name] %>"
              data-doc-kind="file"
            ><%= material_symbol_icon(:edit, size: :xs) %></button>
          </div>
        </div>
      <% else %>
        <div class="organizer-row file-row plc-file-row" aria-disabled="true">
          <div class="row-left">
            <span class="doc-name"><%= file_entry[:name] %></span>
          </div>
          <div class="row-right">
            <span class="folder-toolbar-hint">Read-only</span>
          </div>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <div class="organizer-row plc-empty-row" aria-hidden="true">
      <div class="row-left"><div class="no-tag-lists">No items in this folder</div></div>
      <div class="row-right"></div>
    </div>
  <% end %>
</div>
